<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjViknC5pNtBVqaBvUEKtE5CaJEcQrNNQ</string>
	<key>BUNDLE_ID</key>
	<string>com.bbdyno.app.flashFlow</string>
	<key>GCM_SENDER_ID</key>
	<string>247463131952</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:247463131952:ios:cd1feff9366f611f3466f5</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>flashforge-756fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flashforge-756fc.firebasestorage.app</string>
</dict>
</plist>
